.pui-dropdown{
    position: relative;
    [pui-dropdown-toggler]{
        margin-bottom: 0px !important
    }
    ul.pui-dropdown-menu{
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 5px 10px -2.5px rgba(0,0,0,.425), 0 0 3px 1px rgba(0,0,0,.15);
        border-radius: 2.5px;
        padding: 5px 0;
        position: absolute;
        transform: translateY(-35px);
        transform-origin: 50% 0%;
        //overflow: hidden;
        transition: .35s;
        margin-top: 1px;
        float: left;
        right:auto;
        left: 0;
        pointer-events: none;
        z-index: 999;
        opacity: 0;
        span.title{
            font-weight: 100;
            color: #666;
            font-size: 80%;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 3.5px;
        }
        li{
            list-style: none;
            display: block;
            padding: 0;
            a{
                display: block;
                position: relative;
                padding: 3.5px 15px 3.5px 10px;
                color: #000;
                transition: .5s;
                &:hover, &:focus{
                    background-color: #ededed;
                    color: $primary
                }
            }
            &.active{
                a{
                    color: #fff;
                    background-color: $primary;
                    &:hover, &:focus{
                        color: #fff;
                        box-shadow: 0px 1px 3px 1px rgba(0,0,0,.2)
                    }
                }
            }
        }
        hr{
            border: none;
            height: 1px;
            width: 85%;
            background-color: #aaa;
        }
    }
    &.active{
        ul.pui-dropdown-menu{
            transform: translateY(0px);
            opacity: 1;
            pointer-events: auto;
        }
    }
}
