.pui-nav{
    position: relative;
    left:0;
    user-select: none;
    cursor: default;
    transition: .5s;
    .inner{
        transition: inherit !important
    }
    &.primary{
        background-color: $primary;
        box-shadow: 0px 5px 10px -1.25px rgba(0,0,0,.5);
        .side .nav-toggle{
            color: #fff;
            .ripple-container{
                .waves-ripple{
                    background-color: rgba(255,255,255,.45)
                }
            }
        }
        .title{
            color: #fff
        }
    }
    &.transparent{
        .inner{
            padding: 45px 0 !important
        }
        background-color: transparent;
        box-shadow: none;
        .side .nav-toggle{
            color: #fff;
            .ripple-container{
                .waves-ripple{
                    background-color: rgba(255,255,255,.15)
                }
            }
        }
        .title{
            color: #fff
        }
    }
    .inner{
        padding: 20px 0;
    }
    right:0;
    &.fixed{
        position: fixed;
        z-index: 5000;
        &.top{
            top:0;
            margin-bottom: 15px;
        }
        &.bottom{
            bottom: 0;
            margin-top: 15px;
        }
    }
    .side{
        display: inline;
        float: right;
        margin-left: 15px;
        margin-right: 5px;
        margin-top: 5px;
        .nav-toggle{
            font-size: 25px;
            border: none;
            background: none;
            cursor: pointer;
            position: relative;
            border-radius: 1000px;
            .ripple-container{
                height: 40px;
                width: 40px;
                position: absolute;
                top: -6.5px;
                left: -1.75px;
            }
        }
    }
    .collapsible{
        ul.menu{
            padding: 0;
            margin:0;
            li{
                list-style: none;
                display: inline-block;
                margin-top: 2px;
                a{
                    color: #fff;
                    transition: .35s;
                    border-radius: 2.5px;
                    padding: 13px 20px;
                    position: relative;
                    font-size: 13px;
                    margin: 0 2.5px;
                    bottom: -4px;
                    &.icon-only{
                        padding: 10px;
                        font-size: 1rem;
                    }
                    .material-icons{
                        vertical-align: middle;
                        font-size: 1.25em;
                        position: relative;
                        top: -2px;
                    }
                    .ripple-container{
                        top:0;
                        left:0;
                        bottom:0;
                        right:0;
                        position: absolute;
                        .waves-ripple{
                            background-color: rgba(255,255,255, .125)
                        }
                    }
                }
                &.active{
                    a{
                        background-color: rgba(255,255,255,.125);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .side{
            display: none;
        }
        .collapsible{
            display: inline-block;
            float: left;
        }
    }

    @media only screen and (max-width: 768px) {
        .collapsible{
            display: none;
            width: 100%;
            ul.menu{
                margin-top: 5px;
                li{
                    @include equal-width;
                    a{
                        text-align: center;
                        width: calc(100% - 5px);
                        display: inline-block;
                    }
                }
            }
        }
    }

    .title{
        font-size: 20px;
        margin-right: 2px;
    }
    ul.pui-nav-tab{
        margin: 0px;
        position: relative;
        padding: 0px;
        .tab-line{
            content: '';
            background-color: #fff;
            transition: .3s ease;
            height: 2px;
            position: absolute;
            bottom: 0px;
            display: block;
            box-shadow: 12px 0 0 #fff;
        }
        li{
            @include equal-width;
            button{
                width: 100%;
                text-align: center;
                background: none;
                cursor: pointer;
                border: none;
                user-select: none;
                .ripple-container{
                    position: absolute;
                    top:0;
                    right:0;
                    left:0;
                    bottom: 0;
                }
                .ripple-container .waves-ripple{
                    background-color: rgba(255,255,255,.3)
                }
                padding: 20px 0;
                color: #fff;
                position: relative;
            }
        }
    }
}
