.pui-notifbox{
    padding: 15px 20px;
    font-weight: 100;
    line-height: 40px;
    &.primary{
        @include bg-primary;
    }
    &.gray{
        @include bg-gray;
    }
    &.blue{
        @include bg-blue;
    }
    &.red{
        @include bg-red;
    }
    &.green{
        @include bg-green;
    }
    &.yellow{
        @include bg-yellow;
    }
    margin: 5px 7.5px;
    color: #fff;
    border-radius: 2.5px;
    box-shadow: 0 3.5px 7px t(#000, .25);
    .main-icon{
        display: inline-block;
        float: right;
        margin-left: .25em;
        &.material-icons, .material-icons{
            @include md-icons(1.25em);
            line-height: 40px !important
        }
    }
    .title{
        display: inline;
        float: right;
        margin-left: .2em;
        font-weight: bold
    }
    button.close[data-close]{
        float: left;
        background: none;
        color: inherit;
        border: none;
        &.material-icons, .material-icons{
            @include md-icons(1em);
        }
        font-size: 1em;
        cursor: pointer;
        line-height: 40px;
    }
}
