.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  border-radius: inherit !important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin-top: -2.5px;
    margin-left: -2.5px;
    opacity: 1;
    //background: rgba(0, 0, 0, 0.45);
    transition: opacity 0.15s ease-in 0s !important, transform 0.3s cubic-bezier(1, .15, .25, 0.75) .3s !important;
    transform: scale(0);
    pointer-events: none;
  }
}
