.pui-tab{
    border-radius: 2.5px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    ul.tab-head{
        margin: 0px;
        position: relative;
        padding: 0px;
        box-shadow: 0px 3px 6px -1px rgba(0,0,0,.45);
        .tab-line{
            content: '';
            background-color: #fff;
            transition: .3s ease;
            height: 2px;
            position: absolute;
            bottom: 0px;
            display: block;
        }
        li{
            @include equal-width;
            button{
                width: 100%;
                text-align: center;
                background: none;
                cursor: pointer;
                border: none;
                user-select: none;
                .ripple-container{
                    position: absolute;
                    top:0;
                    right:0;
                    left:0;
                    bottom: 0;
                }
                .ripple-container .waves-ripple{
                    background-color: rgba(255,255,255,.3)
                }
                padding: 20px 12.5px;
                color: #fff;
                position: relative;
            }
        }
    }
    .tab-body{
        padding: 25px;
        background-color: #fff;
        overflow: auto;
        .tab-part{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    &.primary{
        ul.tab-head{
            background-color: $primary
        }
    }
    &.blue{
        ul.tab-head{
            background-color: $blue
        }
    }
    &.green{
        ul.tab-head{
            background-color: $green
        }
    }
    &.yellow{
        ul.tab-head{
            background-color: $yellow
        }
    }
    &.red{
        ul.tab-head{
            background-color: $red
        }
    }
}

.tab-part{
    display: none;
    &.active{
        display: block;
    }
}
