$primary:#00bcd4;
$gray: gray;
$blue: #03a9f4;
$red: #f44336;
$yellow: #ffeb3b;
$green: #4caf50;
@function col($i) {
    @return $i*8.33%;
}

@function t($c, $r) {
    $i: 1 - $r;
    @return transparentize($c, $i);
}

@function md-palette($name) {
    @if $name == lightblue{
        @return #03a9f4;
    } @else if $name == blue{
        @return #2196f3;
    } @else if $name == indigo{
        @return #3f51b5;
    } @else if $name == blueviolet{
        @return #673ab7;
    } @else if $name == purple{
        @return #9c27b0;
    } @else if $name == pink{
        @return #e91e63;
    } @else if $name == red{
        @return #f44336;
    } @else if $name == orangered{
        @return #ff5722;
    } @else if $name == darkorange{
        @return #ff9800;
    } @else if $name == orange{
        @return #ffc107;
    } @else if $name == yellow{
        @return #ffeb3b;
    } @else if $name == lime{
        @return #cddc39;
    } @else if $name == lightgreen{
        @return #8bc34a;
    } @else if $name == green{
        @return #4caf50;
    } @else if $name == teal{
        @return #009688;
    } @else if $name == cyan{
        @return #00bcd4;
    }
}

@mixin bg-primary {
    background-color: $primary
}

@mixin bg-gray {
    background-color: $gray
}

@mixin bg-blue {
    background-color: $blue
}

@mixin bg-red {
    background-color: $red
}

@mixin bg-yellow {
    background-color: $yellow
}

@mixin bg-green {
    background-color: $green
}

@mixin no-select {
    user-select: none;
}
@mixin clearfixing {
    content: '';
    clear: both;
    display: table
}

@mixin equal-width {
    display: table-cell;
    width: 0.01%;
    //list-style: none;
}

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin md-icons($f) {
    vertical-align: middle;
    font-size: $f !important
}
