.has-ripple{
    position: relative;
}

.no-ripple{
    *.ripple-container, *.ripple-effect{
        display: none
    }
}

.ripple-container{
    overflow: hidden;
    position: absolute;
	color: inherit;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    pointer-events: none;
    border-radius: inherit;
    transition: 350ms cubic-bezier(.2,0,.4,1);
    opacity: .25;
    &.on{
        background-color: currentColor;
    }
    .ripple-effect{
        opacity: .85;
        position: absolute;
        pointer-events: inherit;
        height: 0;
		color: inherit;
        width: 0;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0);
        &.on{
            transition: 700ms;
            transition-property: width, height;
        }
    }
}
